<% if current_user %>
<div>
<h1><%= @user.name %></h1>
 <% @user.decks.each do |deck| %>
  <p><%= deck.name %></p>
  <% end %>
</div>
<% end %>



<% @decks.each do |d| %>
<li><a href="/decks/<%= d.id %>/cards/<%= rand(1..(Card.where(deck_id: d.id).size)) %>"> <%= d.name %> </a></li>
<% end%>

