<% if @current_user %>
<div>
<h1><%= @current_user.name %></h1>
 <% @current_user.decks.each do |deck| %>
  <p><%= deck.name %></p>
  <% end %>
</div>
<% end %>

<div class="boxe container">
  <% @decks.each do |deck| %>
    <div class = "btn-group btn-group-xs second">
      <a class="word" href="/decks/<%= deck.id %>/cards/<%= deck.cards.map(&:id).sample %>"><%= deck.name %></a>
    </div>
  <% end%>
</div>


