<% if @current_user %>
<div>
<h1><%= @current_user.name %></h1>
 <% @current_user.decks.each do |deck| %>
  <p><%= deck.name %></p>
  <% end %>
</div>
<% end %>



<% @decks.each do |deck| %>
  <li><a href="/decks/<%= deck.id %>/cards/<%= deck.cards.map(&:id).sample %>"><%= deck.name %></a></li>
<% end%>

